Repository watertap-org/watertap-reflo, pull requests merged in 2024-12, with the labels that each got.

#131 Add solar still ZLD unit model, costing model, test file
  src/watertap_contrib/reflo/costing/units/solar_still.py
  src/watertap_contrib/reflo/unit_models/__init__.py
  src/watertap_contrib/reflo/unit_models/solar_still.py
  src/watertap_contrib/reflo/unit_models/tests/solar_still_test_data.csv
  src/watertap_contrib/reflo/unit_models/tests/solar_still_test_data_diff_col_names.csv
  src/watertap_contrib/reflo/unit_models/tests/solar_still_test_data_too_short.csv
  src/watertap_contrib/reflo/unit_models/tests/test_solar_still.py
  src/watertap_contrib/reflo/unit_models/util/__init__.py
  src/watertap_contrib/reflo/unit_models/util/sw_props.py
  src/watertap_contrib/reflo/unit_models/util/water_yield_calculation.py
Labels: treatment_models

#148 Add USD_2023 as currency unit to costing packages
  src/watertap_contrib/reflo/analysis/example_flowsheets/test/test_fo_trevi_flowsheet.py
  src/watertap_contrib/reflo/analysis/multiperiod/ltmed_vagmd_semibatch/test/test_MED_VAGMD_semibatch_flowsheet_multiperiod.py
  src/watertap_contrib/reflo/analysis/multiperiod/vagmd_batch/test/test_VAGMD_batch_flowsheet_multiperiod.py
  src/watertap_contrib/reflo/costing/tests/test_reflo_watertap_costing_package.py
  src/watertap_contrib/reflo/costing/watertap_reflo_costing_package.py
  src/watertap_contrib/reflo/solar_models/surrogate/trough/test_trough_surrogate.py
  src/watertap_contrib/reflo/solar_models/zero_order/tests/test_flat_plate_physical.py
  src/watertap_contrib/reflo/unit_models/surrogate/tests/test_lt_med_surrogate.py
  src/watertap_contrib/reflo/unit_models/surrogate/tests/test_med_tvc_surrogate.py
  src/watertap_contrib/reflo/unit_models/surrogate/tests/test_vagmd_surrogate.py
  src/watertap_contrib/reflo/unit_models/tests/test_air_stripping_0D.py
  src/watertap_contrib/reflo/unit_models/tests/test_chemical_softening.py
  src/watertap_contrib/reflo/unit_models/tests/test_crystallizer_effect.py
  src/watertap_contrib/reflo/unit_models/tests/test_deep_well_injection.py
  src/watertap_contrib/reflo/unit_models/tests/test_multi_effect_crystallizer.py
  src/watertap_contrib/reflo/unit_models/tests/test_solar_still.py
  src/watertap_contrib/reflo/unit_models/tests/test_thermal_energy_storage.py
  src/watertap_contrib/reflo/unit_models/zero_order/tests/test_battery.py
  src/watertap_contrib/reflo/unit_models/zero_order/tests/test_forward_osmosis.py
Labels: costing_package

#135 KBHDP SOA Case Study
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/KBHDP_SOA.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/__init__.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/deep_well_injection.py
Labels: Priority:High, case study

#138 KBHDP RPT 1
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/KBHDP_RPT_1.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/__init__.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/EC.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/PV.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/UF.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/__init__.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/deep_well_injection.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/ro_system.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/translator_2.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/translator_3.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/utils/__init__.py
  src/watertap_contrib/reflo/core/solar_energy_base.py
  src/watertap_contrib/reflo/costing/watertap_reflo_costing_package.py
  src/watertap_contrib/reflo/data/technoeconomic/electrocoagulation.yaml
  src/watertap_contrib/reflo/data/technoeconomic/kbhdp_case_study.yaml
  src/watertap_contrib/reflo/data/technoeconomic/ultra_filtration.yaml
  src/watertap_contrib/reflo/solar_models/surrogate/pv/__init__.py
Labels: Priority:High, case study

#150 Quick fix to SOA flowsheet
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/KBHDP_RPT_1.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/KBHDP_SOA.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/softener.py
Labels: Priority:High, case study

#122 KBHDP RPT 3
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/KBHDP_RPT_3.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/KBHDP_SOA.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/FPC.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/MD.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/deep_well_injection.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/tests/test_RPT_2.py
  src/watertap_contrib/reflo/analysis/multiperiod/vagmd_batch/VAGMD_batch_flowsheet.py
  src/watertap_contrib/reflo/analysis/multiperiod/vagmd_batch/VAGMD_batch_multiperiod_flowsheet.py
  src/watertap_contrib/reflo/solar_models/surrogate/flat_plate/data/flat_plate_data_heat_load_1_100.pkl
  src/watertap_contrib/reflo/solar_models/surrogate/flat_plate/data/flat_plate_data_heat_load_5_200.pkl
  src/watertap_contrib/reflo/solar_models/surrogate/flat_plate/data/training_flat_plate_surrogate.py
  src/watertap_contrib/reflo/solar_models/surrogate/flat_plate/flat_plate_surrogate.json
Labels: Priority:High, case study, treatment_models
