Repository watertap-org/watertap-reflo, pull requests merged in 2024-10, with the labels that each got.

#113 Flowsheet development of batch-VAGMD simulation
  src/watertap_contrib/reflo/analysis/multiperiod/vagmd_batch/VAGMD_batch_flowsheet.py
  src/watertap_contrib/reflo/analysis/multiperiod/vagmd_batch/VAGMD_batch_multiperiod_flowsheet.py
  src/watertap_contrib/reflo/analysis/multiperiod/vagmd_batch/VAGMD_batch_multiperiod_unit_model.py
  src/watertap_contrib/reflo/analysis/multiperiod/vagmd_batch/test/test_VAGMD_batch_flowsheet_multiperiod.py
  src/watertap_contrib/reflo/unit_models/surrogate/vagmd_surrogate_base.py
Labels: Priority:High, treatment_models

#133 Add KBHDP case study component files
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/__init__.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/EC.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/IX.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/LTMED.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/UF.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/__init__.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/crystallizer.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/deep_well_injection.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/electrodialysis.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/lsrro_system.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/ro_system.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/softener.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/translator_1.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/translator_2.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/translator_3.py
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/translator_4.py
  src/watertap_contrib/reflo/costing/units/deep_well_injection.py
  src/watertap_contrib/reflo/unit_models/deep_well_injection.py
  src/watertap_contrib/reflo/unit_models/tests/test_deep_well_injection.py
Labels: case study

#128 Add Deep Well Injection unit model and costing
  src/watertap_contrib/reflo/analysis/case_studies/KBHDP/components/deep_well_injection.py
  src/watertap_contrib/reflo/costing/units/deep_well_injection.py
  src/watertap_contrib/reflo/unit_models/tests/test_deep_well_injection.py
Labels: Priority:High, treatment_models

#134 Remove electricity_cost from REFLOSystemCosting build
  src/watertap_contrib/reflo/costing/units/deep_well_injection.py
  src/watertap_contrib/reflo/costing/watertap_reflo_costing_package.py
Labels: Priority:High, bug

#121 Multi-effect crystallizer unit model
  setup.py
  src/watertap_contrib/reflo/costing/units/multi_effect_crystallizer.py
  src/watertap_contrib/reflo/unit_models/crystallizer_effect.py
  src/watertap_contrib/reflo/unit_models/multi_effect_crystallizer.py
  src/watertap_contrib/reflo/unit_models/tests/test_crystallizer_effect.py
  src/watertap_contrib/reflo/unit_models/tests/test_multi_effect_crystallizer.py
Labels: treatment_models
