Repository watertap-org/watertap-reflo, pull requests merged in 2025-03, with the labels that each got.

#167 Updates needed to use watertap==1.2.0 as dependency
  .github/workflows/checks.yml
  setup.py
  src/watertap_contrib/reflo/unit_models/crystallizer_effect.py
  src/watertap_contrib/reflo/unit_models/multi_effect_crystallizer.py
  src/watertap_contrib/reflo/unit_models/tests/test_crystallizer_effect.py
  src/watertap_contrib/reflo/unit_models/tests/test_multi_effect_crystallizer.py
Labels: Priority:Normal

#172 Update Environment to PySAM 6.0.0
  setup.py
Labels: Priority:High, pysam

#130 Chemical Softening Pending Issues
  src/watertap_contrib/reflo/unit_models/chemical_softening.py
  src/watertap_contrib/reflo/unit_models/tests/test_chemical_softening.py
Labels: Priority:Normal, treatment_models

#143 Add Evaporation Pond Model
  src/watertap_contrib/reflo/costing/units/air_stripping.py
  src/watertap_contrib/reflo/costing/units/evaporation_pond.py
  src/watertap_contrib/reflo/property_models/__init__.py
  src/watertap_contrib/reflo/property_models/air_water_equilibrium_properties.py
  src/watertap_contrib/reflo/property_models/tests/test_air_water_equilibrium_properties.py
  src/watertap_contrib/reflo/unit_models/__init__.py
  src/watertap_contrib/reflo/unit_models/air_stripping_0D.py
  src/watertap_contrib/reflo/unit_models/evaporation_pond.py
  src/watertap_contrib/reflo/unit_models/tests/evaporation_pond_test_data.csv
  src/watertap_contrib/reflo/unit_models/tests/test_air_stripping_0D.py
  src/watertap_contrib/reflo/unit_models/tests/test_evaporation_pond.py
  src/watertap_contrib/reflo/unit_models/util/sw_props.py
Labels: treatment_models
